$white: #FFFFFF;
$black: #000000;
$gray-100: #F3F3F3;
$gray-200: #BBBBBB;
$gray-300: #707070;
$blue-100: #AEE4FF;
$blue-200: #3AB4F2;
$blue-300: #373B5C;
$indigo-100: #B3C4FF;
$indigo-200: #1A278C; 
$plus: #DF5656;
$minus: #50BC8B;
$sell: #FFD789;
$buy: #BFBAFF;

$box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.06), 1px 1px 8px 0px rgba(0, 0, 0, 0.03);

$border-radius-big: 10px;
$border-radius: 6px;
$border-radius-small: 2px;

$default-fs: 16px;

$fs-1: calc(1.3rem + .5vw);
$fs-2: calc(1.3rem + .1vw);
$fs-3: 1.13rem;
$fs-4: 1rem;
$fs-5: 0.85rem;

$space-1: 2rem;
$space-2: 1.5rem;
$space-3: 1rem;
$space-4: 0.5rem;
$space-5: 0.25rem;